<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daeryun.probank.dao.ProblemBlankDao">

    <insert id="insertAll">
        INSERT INTO problem_blanks (problem_id, blank_key, answer_text, display_order)
        VALUES
        <foreach collection="blanks" item="blank" separator=",">
            (#{blank.problemId}, #{blank.blankKey}, #{blank.answerText}, #{blank.displayOrder})
        </foreach>
    </insert>

    <select id="findByProblemId" resultType="ProblemBlank">
        SELECT id, problem_id, blank_key, answer_text, display_order
        FROM problem_blanks WHERE problem_id = #{problemId} ORDER BY display_order
    </select>

    <delete id="deleteByProblemId">
        DELETE FROM problem_blanks WHERE problem_id = #{problemId}
    </delete>

</mapper>
